.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.review .heading-container {
    margin-top: 30px;
    gap: 10px;
}

.review Button.stage-button {
    margin-right: 10px;
}

.review .stage-button-container {
    margin: 28px 10% 40px;
}

.review .traveler-heading p {
    font-size: 24px;
    line-height: 28px;
}

.review .heading-container {
    gap: 10px;
}

.review .container.option {
    gap: 30px;
}

.review a {
    color: var(--color-dark-gray);
}

.review p {
    color: var(--color-dark-gray);
    margin-top: 6px;
}

.review p b {
    color: var(--color-black);
}