.edit-trip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.edit-trip Button.stage-button {
    margin: 30px 10% 0px;
}

.edit-trip .traveler-heading p {
    font-size: 24px;
    line-height: 28px;
}

.edit-trip .heading-container {
    gap: 10px;
}

.container .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container Button {
    float: right;
}

.amplify-expander {
    /* --amplify-components-expander-background-color: var(--color-light-gray); */
    --amplify-components-expander-box-shadow: 0 0 2px;
}

.edit-trip .amplify-expander__content__text, .edit-trip form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-trip .amplify-expander__content__text .secondary {
    width: fit-content;
}

.edit-trip .amplify-expander__item .open:focus-within {
    box-shadow: none !important;
    border: none !important;
}

.edit-trip .amplify-expander__item {
    transition: .2s;
}

.edit-trip .amplify-expander__header {
    cursor: pointer;
}

.edit-trip .amplify-expander__trigger {
    transition: .2s;
}

.edit-trip form {
    width: 100%;
}

.edit-trip .primary.stage-button {
    width: fit-content;
}