.compare-destination {
    border-right: 1px solid var(--color-gray);
    transform: translateX(1px);
    border-radius: 0px;
    padding: 47px 47px 110px 47px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.compare-destination .primary {
    float: right;
}

.compare-destination .floatBottom {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 47px;
    margin-bottom: 47px;
}