@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
  
  .itineraries-card {
    border-radius: 8px;
    margin: -1px 10px 0px 10px;
    padding: 0px;
    z-index: 1;
    transition: .08s;
    min-height: 110px;
    animation: fadeIn .2s;
    cursor: pointer;
}

.itineraries-card.selected {
    background-color: var(--color-light-blue);
    color: var(--color-white) !important;
}

.itineraries-card .card-content {
    margin: 16px 16px 0px 16px;
    border-bottom: 1px solid var(--color-gray);
    min-height: 94px;
    transition: .06s;
}

.itineraries-card .card-content.selected {
    border-bottom: 1px solid rgba(0,0,0,0);
}

.itineraries-card .content {
    padding-bottom: 16px;
    flex-wrap: wrap;
    display: flex;
    transition: .08s;
}

.itineraries-card .content:active {
    scale: 97%;
}

.itineraries-card-name {
    flex-basis: 65%;
    margin: 0px 0px 0px 0px;
}

.itineraries-card-date {
    flex-basis: 35%;
    margin: 0px 0px 0px 0px;
    text-align: right;
}

.itineraries-card-id {
    flex-basis: 100%;
    margin: 0px 0px 0px 0px;
}

.itineraries-card-activities {
    margin: 0px 0px 0px 0px;
    flex-basis: 100%;
}

.amplify-card {
    background: rgba(0,0,0,0);
}

.amplify-divider {
    border: none !important;
}

.itineraries-card p {
    color: #222;
}

.itineraries-card .card-content.selected p {
    color: var(--color-white);
}

.itineraries-card h4 {
    color: #111;
}

.itineraries-card .card-content.selected h4 {
    color: var(--color-white);
}

.itineraries-card:hover {
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    scale: 102%;
    z-index: 2;
    background-color: var(--color-light-gray);
}

.itineraries-card.selected:hover {
    z-index: 2;
    background-color: var(--color-light-blue);
}

.itineraries-card:hover .card-content.selected {
    border-color: var(--color-light-blue);
}

.itineraries-card:hover .card-content {
    border-color: var(--color-light-gray);
}

.itineraries-card:last-child .card-content {
    border-bottom: none !important;
}