.ItinerariesListDivider {
    width: 90%;
    align-self: center;
}

.ItinerariesList {
    background-color: var(--color-light-gray);
    padding: 10px;
    border-right: 1px solid var(--color-gray);
}