.tripdetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.tripdetails Button.back-button {
    margin: 30px 10% 0px;
}

.tripdetails .traveler-heading p {
    font-size: 24px;
    line-height: 28px;
}

.tripdetails .heading-container {
    gap: 10px;
}