.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #AAAAAA;
  }
  
  .Navbar h1 {
    text-align: left;
  }
  
  .Navbar img {
    position: absolute;
    left: 42%;
    width: 16%;
  }
  
  .Navbar button {
    text-align: right;
  }