.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
  }
  
  .navbar h1 {
    text-align: left;
  }
  
  .navbar img {
    position: absolute;
    left: 42%;
    width: 16%;
  }
  
  .navbar button {
    text-align: right;
  }