/* Buttons */


button.primary {
  border-radius: 20px;
  font-size: 14px;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  transition: .2s;
}

button.primary:hover {
  background-color: #083150;
  color: var(--color-white);
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

button.primary:active {
  scale: 98%;
}

button.primary:focus {
  background-color: #083150;
  color: var(--color-white);
}

button.secondary {
  border-radius: 20px;
  font-size: 14px;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  border: 1px solid var(--color-gray);
  transition: .2s;
}

button.secondary:hover {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
  border: 1px solid var(--color-gray);
}

button.secondary:focus {
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  border: 1px solid var(--color-gray);
}

button.secondary:active {
  scale: 98%;
}